### 중첩 반복문을 통한 트리 출력 웜업 (복습겸)

##### 예전 코드가 이상했어서 이게 나은듯

In [ ]:
n = int(input("트리의 높이를 입력하세요 : "))

for i in range(1, n+1) :
    for j in range(n-i) :
        print(' ', end='')

    for j in range(int((i * 2) -1)) :
        print('*', end='')

    print('')

    *
   ***
  *****
 *******
*********

##### 굳이 2중 for문 없앤 버전

In [21]:
n = int(input("트리 크기를 입력해주세요 : "))

print(f'입력한 트리의 높이 = {n}\n')

for i in range(1, n+1) :
    print(' ' * (n - i), end='')
    print('*' * ((2 * i) - 1), end='')
    print()

입력한 트리의 높이 = 5

    *
   ***
  *****
 *******
*********

### 중첩반복문 탈출해보기

In [ ]:
number = 0
flag = 0

for i in range(5) :
    for j in range(5) :
        print(f'i = {i}, j = {j}')

        if i==2 and j==3 :
            number = i * j
            flag = 1

        # flag 를 만족해야하는 조건이 1개가 아닐 경우가 있을 수 있으므로 따로 떼어놓는게 좋음
        if flag == 1 :
            break

    if flag == 1 :
        break

print(number) # 6

i = 0, j = 0
i = 0, j = 1
i = 0, j = 2
i = 0, j = 3
i = 0, j = 4
i = 1, j = 0
i = 1, j = 1
i = 1, j = 2
i = 1, j = 3
i = 1, j = 4
i = 2, j = 0
i = 2, j = 1
i = 2, j = 2
i = 2, j = 3
6

### 중첩반복문 탈출 예제

##### 입력받은 숫자만큼의 별의 갯수까지만 출력하는 코드 작성 (최대 10층)

In [ ]:
n = int(input("출력하고싶은 별의 갯수를 입력하세요 : "))
stars = 0

print(f'출력할 별의 갯수 = {n}\n(최대 높이 10층)\n')

# 최대 10층이라고 가정
for i in range(1, 10) :
    for j in range(10-i) :
        print(' ', end='')

    for j in range((2 * i) - 1) :
        if stars >= n :
            break
        
        print('*', end='')
        stars += 1

    if stars >= n :
        break
    
    print()

출력할 별의 갯수 = 32
(최대 높이 10층)

         *
        ***
       *****
      *******
     *********
    *******

### 문자열 인덱싱 예제

In [122]:
my_str = "Hello my friend"

# 인덱싱
print(my_str[6])

print()

# 뒤에서부터 인덱싱(윗줄은 밑줄과 동일)
print(my_str[-1])
print(my_str[len(my_str)-1])

print()

# 슬라이싱 (윗줄은 밑줄과 동일)

print(my_str[6:12])
for i in range(6,12) :
    print(my_str[i], end='')
print('\n')

print(my_str[::2])
for i in range(0, len(my_str), 2) :
    print(my_str[i], end='')

m

d
d

my fri
my fri

Hlom red
Hlom red

In [132]:
my_str = "Hello my friend"

print(my_str[::-1])

dneirf ym olleH

In [133]:
my_str = "Hello my friend"

print(len(my_str))

15

In [134]:
my_str = "Hello my friend"

for i in my_str :
    print(i, end=' ')

print()

for i in range(len(my_str)) :
    print(my_str[i], end=' ')

H e l l o   m y   f r i e n d
H e l l o   m y   f r i e n d

### 문자열 다루기 예제

In [135]:
my_str = "Hello my friend"

print(my_str.lower())
print(my_str.upper())


my_str_splits = my_str.split(' ')
print(my_str_splits)

hello my friend
HELLO MY FRIEND
['Hello', 'my', 'friend']

### 컬렉션 자료형(복합 자료형)

##### 리스트 = 복수의 다양한 형태의 데이터를 순서대로 저장하고 조작하는 기본 자료형

In [136]:
numbers = []

print(type(numbers))
print(len(numbers))

numbers = [1, 2, 3, 4, 5]

print(type(numbers))
print(len(numbers))

mixed = [1, "apple", True, [10, 20, 30]]

print(type(numbers))
print(len(numbers))

<class 'list'>
0
<class 'list'>
5
<class 'list'>
5

In [137]:
numbers = [1, 2, 3, 4, 5]
fruits = ["apple", "pear", "melon", "orange", "grape"]

print(numbers + fruits)

print(numbers * 3)

print(fruits[-1])

print(fruits[::2])

[1, 2, 3, 4, 5, 'apple', 'pear', 'melon', 'orange', 'grape']
[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
grape
['apple', 'melon', 'grape']

In [138]:
fruits = ["apple", "pear", "melon", "orange", "grape", "grape"]
print(fruits[0])

# 리스트 수정
fruits[0] = "pineapple"
print(fruits[0])

# 리스트 추가 (맨 뒤에 삽입)
fruits.append("cherry")
print(fruits)

# 리스트 삽입
fruits.insert(1, "kiwi")
print(fruits)

# 리스트에 리스트 삽입
fruits.extend(["mango", "date"])
print(fruits)

# 리스트 마지막 인덱스 remove
fruits.pop()
print(fruits)

# 리스트 특정 인덱스 remove
fruits.pop(1)
print(fruits)

# 리스트 특정 요소 remove
fruits.remove("orange")
print(fruits)

# 리스트 특정 요소 count
print(fruits.count("grape"))

# 리스트 특정 요소 index 참조
print(fruits.index("mango"))

apple
pineapple
['pineapple', 'pear', 'melon', 'orange', 'grape', 'grape', 'cherry']
['pineapple', 'kiwi', 'pear', 'melon', 'orange', 'grape', 'grape', 'cherry']
['pineapple', 'kiwi', 'pear', 'melon', 'orange', 'grape', 'grape', 'cherry', 'mango', 'date']
['pineapple', 'kiwi', 'pear', 'melon', 'orange', 'grape', 'grape', 'cherry', 'mango']
['pineapple', 'pear', 'melon', 'orange', 'grape', 'grape', 'cherry', 'mango']
['pineapple', 'pear', 'melon', 'grape', 'grape', 'cherry', 'mango']
2
6

In [146]:
numbers = [1, 2, 3, 6, 5, 4]

numbers.sort()
print(numbers)

numbers.sort(reverse=True)
print(numbers)

fruits = ["apple", "pear", "grape", "Apple", "Pear"]
print(fruits)

fruits.sort(reverse=True)
print(fruits)

fruits.reverse()
print(fruits)

[1, 2, 3, 4, 5, 6]
[6, 5, 4, 3, 2, 1]
['apple', 'pear', 'grape', 'Apple', 'Pear']
['pear', 'grape', 'apple', 'Pear', 'Apple']
['Apple', 'Pear', 'apple', 'grape', 'pear']

### 리스트 메소드 예제

In [148]:
numbers = [10, 20, 30, 40, 50]

# 최대값
print(max(numbers))

# 최소값
print(min(numbers))

# 합
print(sum(numbers))

# 평균
print(sum(numbers)/len(numbers))

50
10
150
30.0

## *** 리스트 컴프리헨션 (중요) ***

In [155]:
numbers = [i for i in range(10)]
print(numbers)


# 밑과 위는 동일
numbers = []
for i in  range(10):
    numbers.append(i)
print(numbers)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [156]:
numbers = [i**2 for i in range(10)]
print(numbers)


# 밑과 위는 동일
numbers = []
for i in  range(10):
    numbers.append(i**2)
print(numbers)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [157]:
numbers = [i for i in range(10) if i % 2 == 0]
print(numbers)


# 밑과 위는 동일
numbers = []
for i in  range(10):
    if i % 2 == 0 :
        numbers.append(i)
print(numbers)

[0, 2, 4, 6, 8]
[0, 2, 4, 6, 8]

#### 리스트 활용 예제

In [170]:
marks = [90, 25, 90, 45, 80]

for i in range(len(marks)) :
    if marks[i] >= 60 :
        print(f'{i+1}번째 학생은 합격입니다.')
    else :
        print(f'{i+1}번째 학생은 불합격입니다.')

print()

# 위와 밑은 같음
num_index = 0
for i in marks :
    num_index += 1
    if i >= 60 :
        print(f'{num_index}번째 학생은 합격입니다.')
    else :
        print(f'{num_index}번째 학생은 불합격입니다.')

print()


# 잘못된 케이스 - index(i)는 동일한 i값이 있을 경우 잘못된 참조가 날 수 있음
print("-- 잘못된 참조 코드 케이스 --")
for i in marks :
    if i >= 60 :
        print(f'{marks.index(i)+1}번째 학생은 합격입니다.')
    else :
        print(f'{marks.index(i)+1}번째 학생은 불합격입니다.')
print()

1번째 학생은 합격입니다.
2번째 학생은 불합격입니다.
3번째 학생은 합격입니다.
4번째 학생은 불합격입니다.
5번째 학생은 합격입니다.

1번째 학생은 합격입니다.
2번째 학생은 불합격입니다.
3번째 학생은 합격입니다.
4번째 학생은 불합격입니다.
5번째 학생은 합격입니다.

-- 잘못된 참조 코드 케이스 --
1번째 학생은 합격입니다.
2번째 학생은 불합격입니다.
1번째 학생은 합격입니다.
4번째 학생은 불합격입니다.
5번째 학생은 합격입니다.

### 끝말잇기 게임 예제

In [12]:
print('끝말잇기 게임\n시작\n')
var = "시작 단어 = 가나다"
print(var)

while True :
    answer = input("단어를 입력해주세요 : ")
    print(f'입력한 단어 = {answer}')

    if answer[0] == var[-1] :
        # print(f'입력한 단어 = {answer}')
        var = answer
    else :
        print("땡")
        break

끝말잇기 게임
시작

시작 단어 = 가나다
입력한 단어 = 다람쥐
입력한 단어 = 쥐포
입력한 단어 = 귀찮아
땡

### 리스트 중복 제거 예제

In [19]:
numbers1 = [1, 1, 3, 3, 0, 1, 1]
numbers2 = [4, 4, 4, 3, 3]

def remove_dupl(num_list) :
    new_numbers = []
    comp = num_list[0]
    new_numbers.append(num_list[0])

    for i in num_list :
        if comp != i :
            comp = i
            new_numbers.append(comp)
        
    return new_numbers

print(numbers1)
new_numbers = remove_dupl(numbers1)
print(new_numbers)

print(numbers2)
new_numbers = remove_dupl(numbers2)
print(new_numbers)

[1, 1, 3, 3, 0, 1, 1]
[1, 3, 0, 1]
[4, 4, 4, 3, 3]
[4, 3]

### 딕셔너리

In [12]:
# 요소를 직접 삽입하여 생성
students = {'name':'Jimin', 'age':29, 'hobby':'game'}

print(type(students))

# 비어있는 딕셔너리 생성
mydict = {}

# 함수를 통한 생성. dict() 로 형변환도 가능
mydict = dict()

person = dict(name='chrs', age='31')

print(person)

<class 'dict'>
{'name': 'chrs', 'age': '31'}

##### 키값이 중복되어 선언될 경우, 뒤에 선언된 키값의 밸류가 이전에 선언된 키값의 밸류에 덮어씌워짐

In [13]:
students = {'name':'Jimin', 'age':29, 'name':'Chulsu'}

print(students)

{'name': 'Chulsu', 'age': 29}

In [18]:
students = {'name':'Jimin', 'age':29, 'hobby':'game'}

print(students['age'])
print(students['name'])
print()
print(students.keys())
print(students.values())
print(students.items())
print()

for i in students :
    print(i)

29
Jimin

dict_keys(['name', 'age', 'hobby'])
dict_values(['Jimin', 29, 'game'])
dict_items([('name', 'Jimin'), ('age', 29), ('hobby', 'game')])

name
age
hobby

In [25]:
students = {'name':'Jimin', 'age':29, 'hobby':'game'}
print(students)

# 값 갱신
students['name'] = 'John'
print(students)

# 새로운 키:밸류 추가
students['addr'] = '서울시 용산구'
print(students)

# 값 참조
print(students.get('addr'))
print(students.get('addr2'))

# 값 삭제
# 딕셔너리는 삽입순서에 상관없이 순서 자체를 저장하지 않기에 pop 시 키 지정 필요
students.pop('age')
print(students)

# 만약 딕셔너리의 출력상 가장 마지막 키:밸류를 지우고싶다면 popitem 사용
students.popitem()
print(students)

# 리스트에 특정 값이 있는지 확인하는 in 메소드를 통해 딕셔너리에 특정 값이 있는지 확인

# 특정 값이 딕셔너리에 있는지 확인
print('name' in students.keys())
print('game' in students.values())

{'name': 'Jimin', 'age': 29, 'hobby': 'game'}
{'name': 'John', 'age': 29, 'hobby': 'game'}
{'name': 'John', 'age': 29, 'hobby': 'game', 'addr': '서울시 용산구'}
서울시 용산구
None
{'name': 'John', 'hobby': 'game', 'addr': '서울시 용산구'}
{'name': 'John', 'hobby': 'game'}
True
True

#### 딕셔너리 값 참조

In [29]:
students = {'name':'Jimin', 'age':29, 'hobby':'game'}

for i in students.items() :
    print(i[0], i[1])

print()
# 위와 아래는 동일
for key, value in students.items() :
    print(key, value)

name Jimin
age 29
hobby game

name Jimin
age 29
hobby game

### 딕셔너리 예제 풀이
##### 13 –2 번 모스부호
##### 문자열 letter가 주어질 때, letter를 영어 소문자로 바꾼 문자열을 출력 하도록 코드작성 
##### 모스부호는 다음과 같습니다. 
##### morse = { 
#####     '.-':'a','-...':'b','-.-.':'c','-..':'d','.':'e','..-.':'f', 
#####     '--.':'g','....':'h','..':'i','.---':'j','-.-':'k','.-..':'l', 
#####     '--':'m','-.':'n','---':'o','.--.':'p','--.-':'q','.-.':'r', 
#####     '...':'s','-':'t','..-':'u','...-':'v','.--':'w','-..-':'x', 
#####     '-.--':'y','--..':'z' 
##### } 

##### 입출력 예 
##### letter  result 
##### ".... . .-.. .-.. ---"  "hello" 
##### ".--. -.-- - .... --- -."   "python"

In [41]:
letter1 = '.... . .-.. .-.. ---'
letter2 = '.--. -.-- - .... --- -.'
letter3 = 'visualstudio'

chars1 = letter1.split(' ')
chars2 = letter2.split(' ')
chars3 = letter3.split()

morse = {'.-':'a','-...':'b','-.-.':'c','-..':'d','.':'e','..-.':'f',
    '--.':'g','....':'h','..':'i','.---':'j','-.-':'k','.-..':'l', 
    '--':'m','-.':'n','---':'o','.--.':'p','--.-':'q','.-.':'r', 
    '...':'s','-':'t','..-':'u','...-':'v','.--':'w','-..-':'x', 
    '-.--':'y','--..':'z'}

for i in chars1 :
    print(morse[i], end='')

print()
for i in chars2 :
    print(morse[i], end='')

# 글자를 모스부호로 되돌리는 코드
# for i in chars3 :
#     print(morse[i], end='')

hello
python


### set 자료형
##### 중복을 허용하지 않고, 순서가 없는 데이터

In [70]:
# list
s = [1, 2, 4, 3, 2, 3]
print(type(s))
print(s)

print()

# set
s = {1, 2, 4, 3, 2, 3}
print(type(s))
print(s)

s.add(5)
print(s)

s.remove(3)
print(s)

# pop의 경우 랜덤한 값이 튀어나옴
s.pop()
print(s)

print()

# list의 중복 제거
s = [3, 4, 5, 3, 4, 5, 3, 4]
print(s)
s = list(set(s))
print(s)

<class 'list'>
[1, 2, 4, 3, 2, 3]

<class 'set'>
{1, 2, 3, 4}
{1, 2, 3, 4, 5}
{1, 2, 4, 5}
{2, 4, 5}

[3, 4, 5, 3, 4, 5, 3, 4]
[3, 4, 5]

##### 집합으로 취급되어 집합연산이 가능

In [72]:
a = {1, 2, 4, 3, 2, 3}
b = {6, 7, 8, 3, 4, 5, 6, 7}

# 합집합
print(a | b)
print(a.union(b))
print()

# 교집합
print(a & b)
print(a.intersection(b))
print()

# 차집합
print(a - b)
print(a.difference(b))

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}

{3, 4}
{3, 4}

{1, 2}
{1, 2}

### 튜플
##### 수정이 불가한 리스트

In [77]:
t1 = ()
t2 = (1,2,3)
print(t1)
print(type(t1))
print()

print(t2)
print(type(t2))
print(t2[0])
print()

t3 = ('a', 4, ('ab', 'g'))
print(t3)
print()

# 이렇게도 선언 가능
t4 = 1, 2, 3, 4
print(t4)
print(type(t4))

()
<class 'tuple'>

(1, 2, 3)
<class 'tuple'>
1

('a', 4, ('ab', 'g'))

(1, 2, 3, 4)
<class 'tuple'>

### 밑의 예시처럼 특정 튜플의 주소참조값 자체를 다른 것으로 바꿔서
### 값 전체의 참조를 바꿀 순 있지만, 요소를 건드리는건 불가능함

In [82]:
t2 = 1,2,3,4
t3 = 4,5,6

print(t2)

t2 = t3

print(t2)

(1, 2, 3, 4)
(4, 5, 6)

### 튜플 예제 빼빼로 문제

##### 빼빼로데이

##### 빼빼로의 종류는 6가지 맛('누드초코', '아몬드', '초코', '크런키', '크림치즈', '화이트쿠키')이 있었습니다.
##### 이벤트 빼빼로는 한가지 맛에 하나만 구매할 수 있습니다.
##### 구매한 빼빼로를 오름차순으로 정렬하여 결과를 나타내 주세요.

##### 입력1
##### ["초코", "누드초코", "크런키", "아몬드", "초코", "누드초코", "아몬드", "화이트쿠키", "초코", "초코"]

##### 출력1
##### ['누드초코', '아몬드', '초코', '크런키', '화이트쿠키']

In [95]:
pepero = ["초코", "누드초코", "크런키", "아몬드", "초코", "누드초코", "아몬드", "화이트쿠키", "초코", "초코"]

answer = list(set(pepero))
answer.sort()
print(answer)

# 위와 아래는 동일
print(sorted(set(pepero)))

['누드초코', '아몬드', '초코', '크런키', '화이트쿠키']
['누드초코', '아몬드', '초코', '크런키', '화이트쿠키']

### 영단어갯수세기

##### 내가 외운 단어의 개수는 몇개일까요?

##### 입력1
##### "culture experience symbol symbol education symbol effect education affair liberty liberty affair"

##### 출력1
##### 7

In [98]:
words = "culture experience symbol symbol education symbol effect education affair liberty liberty affair"

print(len(set(words.split())))

7

## ** 함수와 클래스 **
### (+ 객체, 메소드)

### 함수 = 특정 동작을 수행하는 일정한 코드의 모임
#### 가독성과 재활용성, 유지보수성이 좋음

In [ ]:
# 내장함수들의 리스트 확인
dir(__builtins__)

In [102]:
# 선언
def my_func() :
    print('함수 출력입니다.')

# 호출
my_func()

함수 출력입니다.

In [104]:
def my_func(a, b) :
    print(f'받은 숫자는 {a}, {b}')
    return a+b

result1 = my_func(3,5)
result2 = my_func(6, 8)

print(result1, result2)

받은 숫자는 3, 5
받은 숫자는 6, 8
8 14

### 함수 예제 실습

In [108]:
def num_max(a, b, c) :
    ans = a
    list = [a, b, c]

    for i in list :
        if i>ans :
            ans = i
    return ans

num = num_max(10, 12, 7)
print(num)

num1 = num_max(-20, -33, -108)
print(num1)

12
-20

In [114]:
def num_min(list) :
    ans = list[0]

    for i in list :
        if i<ans :
            ans = i
    return ans

testArray = [62, 273, 32, 103, 275, 24, 57]
testArray2 = [-3, -5, -1]

num = num_min(testArray)
print(num)

num = num_min(testArray2)
print(num)

24
-5

### 여러 형태의 입력값을 수용하는 함수 만들기
### *args, **kwargs

In [125]:
def add_many(*args) :
    print(args)
    num_sum = 0
    for i in args :
        num_sum += i

    return num_sum


print(add_many(1, 2))
print()
print(add_many(1, 2, 3, 4, 5, 6, 7, 8))

(1, 2)
3

(1, 2, 3, 4, 5, 6, 7, 8)
36

In [133]:
def cal_option(choice, *args) :

    if choice == 'add' :
        total = 0
        for i in args :
            total += i
        return total
    
    if choice == 'mul' :
        total = 1
        for i in args :
            total *= i
        return total
    
    else :
        print("error!")


print(cal_option('add', 1, 2, 3, 4))
print()
print(cal_option('mul', 1, 2, 3, 4, 5, 6, 7, 8))

10

40320

#### 여러개의 값을 return하는 함수

In [138]:
def add_and_mul(a, b) :
    return a+b, a*b

result = add_and_mul(3,4)
print(result)
print(type(result))

result1, result2 = add_and_mul(5,6)
print(result1, result2)
print()



def cals(a, b) :
    return a+b, a-b, a*b, a/b

result = cals(3,4)
print(result)
print(type(result))

for i in result :
    print(i, end=' ')

(7, 12)
<class 'tuple'>
11 30

(7, -1, 12, 0.75)
<class 'tuple'>
7 -1 12 0.75

#### 옵션값을 가지는 함수 (기본값으로 초기화된)

In [141]:
def say_myself(name, age, addr='서울', tel='1123') :
    print(f'{name}, {age}, {addr}, {tel}')


#일반적인 호출
say_myself('김철수', '30')

#옵션 호출시, 순서에 상관없는 호출을 원할시 매개변수명을 직접입력
say_myself('김영수', '30', tel='3456')

김철수, 30, 서울, 1123
김영수, 30, 서울, 3456